* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
body > div, html > div {
  padding: 40px;
  border-radius: 5px;
  background-color: aquamarine;
  cursor: pointer;
  user-select: none;
}